DEBUG = False
ENV = 'production'
SECRET_KEY = 'strong secret key'

MAIL_SERVER = 'mail.server'
MAIL_PORT = 25
MAIL_USE_TLS = True
MAIL_USE_SSL = False
MAIL_DEBUG = False
MAIL_USERNAME = 'username'
MAIL_PASSWORD = 'password'
MAIL_DEFAULT_SENDER = 'reply@mail.server'
MAIL_MAX_EMAILS = None
MAIL_ASCII_ATTACHMENTS = False
MAIL_SUPPRESS_SEND = False

TELEGRAM_API_TOKEN = 'm4ntl34t'
ALLOWED_TOKENS = ['4gtf34g34', '55585d4g4']
